/*--- MENU SCHERM --*/
body {
    margin: 0;
    padding: 0;
    font-family: lato;
}
#wrapperMenu {
    height: 736px;
    width: 414px;
    background-color:#fff;
}
header nav img {
    width: 30%;
    padding-top: 10px;
    padding-bottom: 3px;
}
.menu {
    width: 7%;
    float: left;
    margin-left: 25px;
    margin-top: 15px;
    margin-right: 95px;
}
.talen {
    width: 7%;
    float: right;
    margin-right: 25px;
    margin-top: 15px;
}
header nav {
    background-color: #000;
}
.wrapperSection h1 {
    margin-left: 57px;
    float: left;
}
.locatie {
    width: 5%;
    float: left;
    padding: 3%;
}
#dropdown {
    width: 300px;
    margin-left: 57px;
}
.map {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}
.left {
    width: 145px;
    float: left;
    margin-left: 57px;
    margin-top: 10px;
    height: 150px;
}
.right {
    width: 145px;
    float: left;
    margin-left: 10px;
    margin-top: 10px;
    height: 150px;
}
footer {
    position: absolute;
    margin-top: 217px;
    background-color: #000;
    width: 414px;
    height: 45px;
}
footer img{
    width: 7%;
    padding-top: 7px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}